body {
  background-color: #3030d4 !important;
  height: 100vh;
  font-family: "Press Start 2P", system-ui !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.text {
  color: white;
}

.cell {
  width: 300px;
  height: 300px;
}

.matched {
  border-radius: 12px;
  background-color: green !important;
}

.shake {
  animation: shake 0.5s;
  border-radius: 12px;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
    background-color: transparent;
  }
  25% {
    transform: translateX(10px);
    background-color: rgba(255, 0, 0, 0.4);
  }
  50% {
    transform: translateX(-10px);
    background-color: rgba(255, 0, 0, 0.6);
  }
  75% {
    transform: translateX(10px);
    background-color: rgba(255, 0, 0, 0.4);
  }
  100% {
    transform: translateX(0px);
    background-color: transparent;
  }
}

#count-error {
  font-weight: bold;
  font-size: 50px;
}
